body{
    background-color: gainsboro;
}

.loginbox{
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.login-container{
    margin: auto;
    margin-top: 10%;
    width: 400px;
}

.loginbox-submit{
    margin-top:25px;
    text-align: center;
}
.loginbox-title{
    text-align: center;
    font-weight: bold;
    color: #3f51b5;
}
@media screen and (max-width:767px){
    .login-container{
        width: 100%;
    }
}
.mainmenu, #submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.mainmenu a {
    display: block;
    background-color:white;
    text-decoration: none;
    padding: 10px;
    color: #000;
    padding-left:15px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
}
  
.mainmenu a:hover {
      background-color: #ebebeb;
}
  
.active{
    display: block;
    max-height: 200px;
}
  
#submenu a {
    background-color: white;
    padding-left: 30px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}
  
#submenu a:hover {
    background-color: #ebebeb;
}

#submenu {
    display: none;
}

.submenu-active {
    display: block!important;
}

.card{
    text-align: center;
}

.card div h1{
    font-size: 35px;
}

.paper{
    padding: 15px;
}

.company-title{
    text-align: center!important;
}